/* * {
  font-family: Arial, Helvetica, sans-serif;
} */

@font-face {
  font-family: 'IntroBlackRegular';
  src:
      url('/src/fonts/Intro Black Regular.otf') 
      format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'IntroBlackRegular';
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #9bd692;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

h1 {
  color: black;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

p {
  text-align: center;
  text-decoration: dashed;
}

a {
  text-align: center;
}

.dmdiv1 {
  text-align: center;
  background-color: #9bd692;
  }

.dmdiv2 {
  text-align: center;
  border: 1cap;
}

.dmdiv3 {
  /* width: 20%;
  height: 20%; */
  margin-left: auto;
  margin-right: auto;
}

img {
  position: absolute;
  width: 10px;
  height: 10px;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

button {   
  background-color: #4CAF50;   
  width: 20%;  
   color: rgb(0, 0, 0);   
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
    }   
form {   
   border: 3px solid #f1f1f1;   
}   
input[type=text], input[type=password] {   
   width: 20%;   
   margin: 8px 0;  
   padding: 12px 20px;   
   display: inline-block;   
   border: 2px solid green;   
   box-sizing: border-box;   
}  
button:hover {   
   opacity: 0.7;   
}   
.cancelbtn {   
   width: 20%;   
   padding: 10px 18px;  
   margin: 10px 5px;  
}   
   

.container {   
   padding: 25px;   
   background-color: #9bd692;  
}   