* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #9bd692;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

h1 {
  color: black;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

p {
  text-align: center;
  text-decoration: dashed;
}

a {
  text-align: center;
}

.dmdiv1 {
  text-align: center;
  background-color: #9bd692;
  }

.dmdiv2 {
  text-align: center;
  border: 1cap;
}

.dmdiv3 {
  /* width: 20%;
  height: 20%; */
  margin-left: auto;
  margin-right: auto;
}

img {
  position: absolute;
  width: 10px;
  height: 10px;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}