* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #9bd692;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

h1 {
  color: black;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

p {
  text-align: center;
  text-decoration: dashed;
}